---
import RelatedPosts from './blog/RelatedPosts.astro';
import BlogLatestPosts from './widgets/BlogLatestPosts.astro';

const { content } = Astro.props;
// max-w-4xl
---

<section
  class={`prose mx-auto /* center horizontally */
  dark:prose-invert
   my-8 max-w-[650px] px-3 text-[18px] leading-[1.6] text-[#444] dark:text-slate-200
   prose-lg dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading 
   prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold
    prose-a:text-cyan-400 dark:prose-a:text-cyan-400 prose-img:rounded-md 
    prose-img:shadow-lg mt-8
  `}
>
  <slot />

  <BlogLatestPosts
    id="blog"
    title="Latest Writing"
    information={`Here you'll find essays, field notes, creative philosophy, and thoughts on what I think matters. Some aim to clarify. Others are just me thinking in public, tracing patterns as I go.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- <RelatedPosts post={} /> -->
</section>
