---
// import { SITE } from '~/utils/config';
---

<div
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white flex flex-row gap-2 items-center"
>
  <img src="/lion-profile-dark-teal-filter-radial-grad.jpg" class="w-8 aspect-square rounded-full" />
  <!-- {SITE?.name} -->
</div>
